#wrapper{
   min-width: 1250px;
   min-height: 1500px;
   height: auto;
   width: auto;
}

#header{
    width: 1261px;
    height: 200px;
    background-color: black;
    margin: 0 auto;
    border-radius: 50px;
}

#logo{
    width: 250px;
    height: 200px;
    float: left;
    margin-left: 45px;
    margin-top: 20px;
}

#banner{
    width: 800px;
    height: 200px;
    float: left;
}


#menu{
    height: 62px;
    width: 1260px;
    margin: 0 auto;
    background-color: gray;
    text-align: center;
    padding-top: 20px;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

#menu li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
}

#menu li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 100px;
}

#menu li a:hover{
    color: purple;
    font-size: 19px;
    text-decoration: underline overline;
}

#id{
    width: 1262px;
    height: 360px;
    margin-bottom: 20px;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0 5px 5px 5px gray;
    margin-bottom: 10px;
}

#container{
    width: 1260px;
    height: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 30px;
}

#main{
    width: 920px;
    height: 1150px;
    margin: 0 auto;
    border: 1px solid gray;
    background: silver;
    border: 1px solid red;
}

#left{
    width:430px;
    height:1080px;
    float: left;
    margin-top: 20px;
    margin-left: 18px;
    float: left;
    background: white;
    border: 1px solid red;
}

#mid1{
    width:400px;
    height:650px;
    float: left;    
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 20px;
    border: 1px solid red;
}

#right{
    width:430px;
    height:550px;
    float: left;
    margin-left: 18px;
    margin-top: 20px;
    float: left;
    background: white;
    border: 1px solid red;
}

#mid2{
    width:400px;
    height:500px;
    margin-top: 15px;
    margin-left: 15px;
    border: 1px solid red;
    float: left;
    border: 1px solid red;
}

#bottom{
    width: 850px;
    height: 170px;
    margin-left: 30px;
    margin-top: 35px;
    background: brown;
    float: left;
    border: 1px solid red;
}

#mid3{
    width: 820px;
    height: 130px;
    margin-left: 15px;
    float: left;
    margin-top: 10px;
    border: 1px solid red;
}


#footer .f_bg{
    width: 625px;
    height: 150px;
    background-image: url('../Images/main.jpg');
    border-radius: 100px;
    float: left;
}

#footer #lsubfooter{
    width: 625px;
    height: 150px;
    background: black;
    color: white;
    padding-top: 25px;
    float: left;
    text-align: center;
    font-size: 25px;
    opacity: .7;
    border-radius: 50px 100px 100px 50px;
    padding-top: 60px;
}

#footer #rsubfooter{
    width: 625px;
    height: 150px;
    background: black;
    color: white;
    padding-top: 25px;
    float: left;
    text-align: center;
    font-size: 25px;
    opacity: .7;
    border-radius: 100px 50px 50px 100px;
    margin-bottom: 10px;
}