#wrapper{
   min-width: 1250px;
   min-height: 980px;
   height: auto;
   width: auto;
}

#header{
    width: 1261px;
    height: 200px;
    background-color: white;
    margin: 0 auto;
    border-radius: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 5px 5px 5px #ff6600;
}

#logo{
    width: 250px;
    height: 200px;
    float: left;
    margin-left: 45px;
    margin-top: 20px;
}

#banner{
    width: 800px;
    height: 200px;
    float: left;
}

#menu{
    height: 62px;
    width: 1260px;
    margin: 0 auto;
    background-color: gray;
    text-align: center;
    padding-top: 20px;
    margin-top: 10px;
    border-radius: 50px;
    margin-bottom: 10px;
}

#menu li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
}

#menu li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 100px;
}

#menu li a:hover{
    color: purple;
    font-size: 19px;
    text-decoration: underline overline;
}

#id{
    width: 1262px;
    height: 360px;
    margin-bottom: 20px;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0 5px 5px 5px gray;
    margin-bottom: 10px;
}

#container{
    width: 1260px;
    height: 600px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid red;
    background-image: url('../Images/en3.png');
    background-size: cover;
//    background-position: center;
//    background-attachment: fixed;
    background-repeat: no-repeat;
}

#main{
    width:600px;
    height:650px;
    margin: 0 auto;
    padding-top: 75px;
}

table tr td input{
    color: purple;
    font-weight: bold;
    font-size: 25px;
}

a{
    color: black;
    margin-left:75px;
}

.txt{
    border: 2px solid gray;
    border-radius: 7px;
    opacity: .7;
}

.txt:focus{
    outline: none;
    border-color: gray;
    box-shadow: 0 0 10px 10px gray   ;
}

input::placeholder{
    color: black;
    text-align: center;
}

input[type="text"]{
    height: 60px;
    width: 250px;
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 50px;
}

input[type="password"]{
    height: 60px;
    width: 250px;
    margin-left: 0px;
    border-radius: 50px;
}

input[type="submit"]{
    height: 50px;
    width: 150px;
    margin-left: 50px;
    margin-top: 40px;
    border-radius: 100px;
}

#footer{
    width: 1250px;
    height: 150px;
    color: white;
    margin: 0 auto;
    padding-top: 10px;
}

#footer .f_bg{
    width: 625px;
    height: 150px;
    background-image: url('../Images/main.jpg');
    border-radius: 100px;
    float: left;
}

#footer #lsubfooter{
    width: 625px;
    height: 150px;
    background: gray;
    color: white;
    padding-top: 25px;
    float: left;
    text-align: center;
    font-size: 25px;
    opacity: .6;
    border-radius: 50px 100px 100px 50px;
    padding-top: 60px;
}

#footer #rsubfooter{
    width: 625px;
    height: 150px;
    background: gray;
    color: white;
    padding-top: 25px;
    float: left;
    text-align: center;
    font-size: 25px;
    opacity: .6;
    border-radius: 100px 50px 50px 100px;
    margin-bottom: 10px;
}